.form {
  width: 730px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
  background-color: var(--clr-white);
  border-radius: 8px;
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: flex-start;
  gap: 16px;

  .textarea {
    flex-grow: 1;
    border: 1px solid var(--clr-grey-100);
    border-radius: 8px;
    resize: none;
    padding: 8px 16px;

    &::placeholder {
      color: var(--clr-grey-500);
    }
  }

  .submit-btn {
    text-transform: uppercase;
    background-color: var(--clr-purple-600);
    color: var(--clr-white);
    line-height: 1.5;
    padding: 12px 32px;
    border-radius: 8px;

    &:hover {
      background-color: var(--clr-purple-200);
    }
  }
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
    padding: 16px;
    align-items: center;

    .textarea {
      grid-column: 1 / -1;
      grid-row: 1;
    }

    .submit-btn {
      place-self: end;
    }
  }
}
