:root {
  --clr-black: rgb(0, 0, 0);
  --clr-white: rgb(255, 255, 255);
  --clr-grey-50: rgb(245, 246, 250);
  --clr-grey-100: rgb(233, 235, 240);
  --clr-grey-500: rgb(103, 114, 126);
  --clr-grey-800: rgb(51, 66, 83);
  --clr-purple-200: rgb(197, 198, 239);
  --clr-purple-600: rgb(83, 87, 182);
  --clr-pink-200: rgb(255, 184, 187);
  --clr-pink-400: rgb(236, 17, 25);

  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-500: 40px;
}
